main {
  min-height: 75vh;
  padding: 2rem;
}

footer {
  padding: 1rem;
}

.profile {
  background-color: $main-color-bg;
  padding: 1rem;
  border-radius: 5px;
  max-width: 90%;
}

.profile__img {
  width: 150px;
}

.profile__data {
  padding-left: 1rem;

  ul {
    @include reset-list;

    padding-top: 1rem;
  }
}

.title {
  margin: 0 0 0.8rem 0;
}

.subtile {
  margin: 0;
  color: $light-grey;
}
