main {
  min-height: 75vh;
  padding: 2rem;
}

footer {
  padding: 1rem;
  font-size: 0.8rem;
}

section {
  margin-top: 3rem;
  border-top: dashed 5px $main-color-bg;
}

.profile {
  border-left: solid 5px $main-color-bg;
  padding: 1rem;
  border-radius: 5px;
  max-width: 90%;
}

.profile__img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.profile__data {
  padding-left: 1rem;
  font-size: 0.8rem;

  ul {
    @include reset-list;

    padding-top: 1rem;
  }
}

.title {
  margin: 0 0 0.8rem 0;
}

.subtitle {
  margin: 0;
  color: $light-grey;
}

.disabled {
  opacity: 0.7;
}

.estudies__list,
.abilities__list,
.experience__list {
  @include reset-list;

  li {
    border-left: solid 5px $main-color-bg;
    padding-left: 2rem;
    margin-bottom: 1rem;
  }
}

.abilities h3 {
  margin: 0 0 0.5rem 0;
}
