@import "~hamburgers/_sass/hamburgers/hamburgers.scss";

header {
  min-height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $main-color;
  color: white;

  a {
    text-decoration: none;
    color: white;
  }
}

.logo {
  position: absolute;
  top: 15px;
  left: 15px;
  font-size: 1.2rem;
  font-weight: 900;
}

nav {
  @include for-tablet-or-less {
    margin-top: -1900px;
    display: none;
    height: 0;
    transition: all 0.5s ease-in-out;
  }

  ul {
    display: inline-flex;

    @include reset-list;

    @include for-tablet-or-less {
      display: flex;
      flex-flow: column;
      align-items: center;
    }
  }
}

nav.is-active {
  @include for-tablet-or-less {
    margin-top: 0;
    display: block;
    height: auto;
    transition: all 0.5s ease-in-out;
  }

  ul {
    margin: 50px 0 10px 0;
  }
}

.menu-btn {
  display: none;
  position: absolute;
  top: 0;
  right: 0;

  @include for-tablet-or-less {
    display: block;
  }
}

nav ul li {
  margin: 0 1rem;

  @include for-tablet-or-less {
    margin: 0.5rem 0;
  }
}

nav ul li.active::after {
  height: 3px;
  width: 100%;
  display: block;
  background-color: white;
  content: '';
}

nav ul li::after {
  height: 3px;
  width: 0;
  display: block;
  background-color: white;
  content: '';
  transition: 0.5s ease-in-out;
}

nav ul li:hover::after {
  width: 100%;
  transition: 0.5s ease-in-out;
}

// hamburger overrides

.hamburger-inner,
.hamburger-inner::after,
.hamburger-inner::before,
.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::after,
.hamburger.is-active .hamburger-inner::before {
  background-color: white;
}
